
<h1>Nouvel Horaire</h1>
<div class="newTimePlan">
  <div class="time">
    <label>
      <h2>Début de la journée</h2>
      <input type="time" class="time" value="06:00">
    </label>
    <label>
      <h2>Début des cours</h2>
      <input type="time" class="time" value="09:00">
    </label>
    <label>
      <h2>Début de la pause de midi</h2>
      <input type="time" class="time" value="11:00">
    </label>
    <label>
      <h2>Fin de la pause de midi</h2>
      <input type="time" class="time" value="14:00">
    </label>
    <label>
      <h2>Fin des cours</h2>
      <input type="time" class="time" value="09:00">
    </label>
    <label>
      <h2>Fin de la journée</h2>
      <input type="time" class="time" value="22:00">
    </label>
  </div>

  <div class="canvas">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>
  <button mat-fab color="warn">✚</button>
</div>
<br>
<h1>Horaires Existants</h1>
