
<h1>Nouvel Horaire</h1>
<form [formGroup]="timeplanForm" (change)="updateCanvasData()" (ngSubmit)="onSubmit()">
  <div class="newTimePlan">
    <div class="time">
      <label>
        <h2>Début de la journée</h2>
        <input type="time" class="time" formControlName="startOfDay" >
      </label>
      <label>
        <h2>Début des cours</h2>
        <input type="time" class="time" formControlName="startMorning" >
      </label>
      <label>
        <h2>Début de la pause de midi</h2>
        <input type="time" class="time" formControlName="endMorning" >
      </label>
      <label>
        <h2>Fin de la pause de midi</h2>
        <input type="time" class="time" formControlName="startAfternoon" >
      </label>
      <label>
        <h2>Fin des cours</h2>
        <input type="time" class="time" formControlName="endAfternoon" >
      </label>
      <label>
        <h2>Fin de la journée</h2>
        <input type="time" class="time" formControlName="endOfDay" >
      </label>
    </div>

    <div class="canvas">
      <div id="p5-sketch"></div>
      <label>
        <h2>Temps réglementaire</h2>
        <input type="time" class="time" formControlName="mandatoryTime" >
      </label>
    </div>

    <div class="control">
      <button mat-fab color="warn" type="submit" [disabled]="!timeplanForm.valid">✚</button>
    </div>
  </div>
</form>
<br>
<mat-divider></mat-divider>
<h1>Horaires Existants</h1>
