
<h1>Nouvel Horaire</h1>
<div class="newTimePlan">
  <div class="time">
    <form (change)="updateCanvasData()" (ngSubmit)="onSubmit()">
      <label>
        <h2>Début de la journée</h2>
        <input type="time" class="time" value="06:00" >
      </label>
      <label>
        <h2>Début des cours</h2>
        <input type="time" class="time" value="09:00" >
      </label>
      <label>
        <h2>Début de la pause de midi</h2>
        <input type="time" class="time" value="11:00" >
      </label>
      <label>
        <h2>Fin de la pause de midi</h2>
        <input type="time" class="time" value="14:00" >
      </label>
      <label>
        <h2>Fin des cours</h2>
        <input type="time" class="time" value="09:00" >
      </label>
      <label>
        <h2>Fin de la journée</h2>
        <input type="time" class="time" value="22:00" >
      </label>
    </form>
  </div>

  <div id="p5-sketch"></div>

  <div class="control">
    <button mat-fab color="warn">✚</button>
  </div>
</div>
<br>
<h1>Horaires Existants</h1>
