<h1 class="title">Rentrée</h1>
<p> Suivez ces étapes pour préparer chaque changement de module </p>
<mat-vertical-stepper>
  <mat-step label="Commencement">
    <h1>Procédure de rentrée 📚</h1>
    <p> Cette petite marche à suivre, va vous guider dans la mise en oeuvre de chaque rentrée Vous pouvez voir à n'importe quel moment où vous en êtes en cliquant sur chaque étapes.</p>
    <p> Cette procédure prendra environ 30 minutes. </p>
    <div>
      <button mat-button matStepperNext>Je suis prêt🚀</button>
    </div>
  </mat-step>
  <mat-step label="Pointeuses">
    <h1>Configuration du matériel 📺</h1>
    <p> Dans cette étape, nous allons ajouter toutes les pointeuses et les configurer</p>
    <a href="admin/clock-machine">gestion des pointeuses</a>
    <h2>1.1) Création des pointeuses 📇</h2>
    <p> Vérifiez que vous avez bien créé toutes les pointeuses souhaitées</p>
    <h2>1.2) Paramétrage des pointeuses 💬</h2>
    <p> Choissisez les paramètres par défaut tel que l'horaire ou les options de personnalisation</p>
    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Stagiaires">
    <h1>Importation des stagiaires 🚶</h1>
    <p> Dans cette étape, nous allons importer les stagiaires</p>
    <a href="admin/admin-data-stagiaires">gestion des stagiaires</a>
    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Répartition">
    <h1>Répartition par machine 🔠</h1>
    <div>
      <button mat-button matStepperNext>J'ai terminé cet étape et je passe à la suivante</button>
    </div>
  </mat-step>
  <mat-step label="Finalisation">
    <h1>🌈 Vous êtes paré pour la rentrée 🎩</h1>
  </mat-step>
</mat-vertical-stepper>
