<h1 class="title">Rentrée</h1>
<p> Suivez ces étapes pour préparer chaque changement de module </p>
<mat-vertical-stepper>
  <mat-step label="Première étape">
    <h1>Importer les stagiaires</h1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Deuxième étape">
    <h1>Répartir les stagiaires par pointeuse</h1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Troisième étape">
    <h1>Configurer les pointeuse</h1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Dernière étape">
    <h1>Vous êtes paré pour la rentrée ✔</h1>
  </mat-step>
</mat-vertical-stepper>
