<mat-toolbar class="toolbar">
  <div>
    <label> Répartition rapide </label>
    <button class="button is-info" (click)="randomMachine(clockMachines)">Random</button>
  </div>
  <mat-form-field class="search">
    <input type="text" placeholder="Trouvez un stagiaire" matInput [formControl]="interaction" [matAutocomplete]="auto" >
    <button class="clear has-text-white" mat-button mat-icon-button matSuffix (click)="clearSearchField()" *ngIf="searchField">×</button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>

<div class="pool">
  <h2>Stagiaires à placer</h2>
  <ng-container *ngFor="let s of shownStudents">
    <div class="student">
      <div class="student-button">
        <h1 matSubheader>{{s.firstname}} {{s.lastname}}</h1>
        <div class="buttons has-addons">
          <button class="button is-link" *ngFor="let cm of clockMachines" (click)="s.clockMachine=cm._id">{{cm.title}}</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="allot">
  <h2>Machines disponibles</h2>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let cm of clockMachines">
      <mat-grid-tile-header class="header">{{cm.title}}</mat-grid-tile-header>
      <ng-container *ngFor="let s of students">
        <div class="student" *ngIf="s.clockMachine==cm._id">
          <h1 matSubheader>{{s.firstname}} {{s.lastname}}</h1>
          <div class="student-button">
            <div class="buttons has-addons">
              <button class="button is-link" *ngFor="let cm of clockMachines">{{cm.title}}</button>
            </div>
          </div>
        </div>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</div>


<button mat-dialog-close class="button is-success" (click)="allotStudent()">Valider</button>
