.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  margin: auto;
}

.student-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
